@import "./../core/mixins";


@keyframes scroll_animation{
    from{
        opacity: 0;
    }
    50%{
        opacity: 1;
        transform: translateY(5px);
    }
    100%{
        opacity: 0;
        transform: translateY(10px);
    }
}
.home-slider{
    position: relative;
    
    &__scroll {
        height: fit-content;
        position: absolute;
        left: 50px;
        bottom: 60px;
        animation: scroll_animation 2s ease-in-out 0s infinite normal forwards;
        p{
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            span{
                font-size: 0.8rem;
                color: white;
                writing-mode: vertical-lr;
                text-orientation: mixed;
            }
        }
    }
    &__indicator{
        position: absolute;
        bottom: 50px;
        right: 50px;
        p{
            display: flex;
            align-items: flex-end;
            gap: 6px;
            span{
                @include text(60px, "DINEngAlt", 60px, white, none);
            }
            .total{
                @include text(40px, "DINEngAlt", 40px, white, none);
                color: lightgray;
            }
        }
    }
    .carousel{
        .flickity-slider{
            height: fit-content !important;
           
        }
        .flickity-button{
            width: 20px;
            height: 20px;
            opacity: 0;
        }
        &:hover .flickity-button{
            opacity: 1;
        }
        .flickity-page-dots{
            display: none;
        }
        .carousel-cell{
            width: 100%;
            .slider__item-container{
                position: relative;
                
                img{
                    width: 100%;
                }
                .item__description{
                    position: absolute;
                    top: 50%;
                    transform: translateY(50%);
                    left: 50px;
                    z-index: 1;
                    p{
                        @include text(36px, "UTMAvo", 36px, white, none);
                    }
                }
            }
        }

    }

    @include mobile{
        .carousel{
            .carousel-cell{
                .slider__item-container{
                    .item__description{
                        p{
                            display: none;
                        }
                    }
                }
            }
        }
        &__indicator{
            position: absolute;
            bottom: 20px;
            right: 20px;
            p{
                span{
                    @include text(40px, "DINEngAlt", 40px, white, none);
                }
                .total{
                    @include text(25px, "DINEngAlt", 25px, white, none);
                    color: lightgray;
                }
            }
        }
    }
    @include tablet{
        &__scroll{
            animation: unset;
            display: none;
        }
    }
   
    
}


.products, .news{
    .container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 60px;
    }
    &__title{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 20px;
    }
    &__cards{
        justify-content: space-between;
        align-items: center;
        transform-style: preserve-3d;

    }
    &__more{
        display: flex;
        justify-content: center;
        
    }
    @include mobile{
        .container{
            gap: 40px;
        }
        &__cards.row{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            gap: 30px;
        }
    }
}

.browse{
    position: relative;
    height: 480px;
    background-image: url("./../../../img/img_home/banner2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    &__info{
        position: absolute;
        top: 80px;
        left: 100px;
        display: flex;
        flex-flow: column nowrap;
        .title{
            font-size: 48px;
            line-height: 48px;
        }
        .description{
            font-size: 16px;
            line-height: 16px;
            margin: 15px 0 35px 0;
        }
    }
    @include mobile{
        &__info{
            top: unset;
            left: 50%;
            transform: translateX(-50%);
            bottom: 80px;
            .title, .description{
                display: none;
            }
        }
    }
}

.news{
    .news__articles{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        gap:20px;
    }
    .news__articles-card{
        cursor: pointer;
        &:hover{
            .card__top{
                img{
                    transform: scale(1.1);
                }
            }
        }
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        border: 1px solid lightgray;
        .card__top{
            overflow: hidden;
            img{
                margin: 0;
                width: 100%;
                transition: 0.3s;
            }
        }
        .card__bottom{
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;
            gap: 10px;
            min-height: 220px;
            padding: 15px;
            strong{
                @include text(18px, DINEngAlt, 18px, black, none);
            }
            .title{
                font-size: 26px;
                line-height: 26px;
                margin: 0 0 20px 0;
            }
            .description{
                font-weight: 600;
            }
            .detail{
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                text-decoration: underline;
            }
        }
    }
    @include tablet{
        .news__articles{
            gap: 10px;      
        }
    }
    @include mobile{
        .news__articles{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            gap: 30px;      
        }
    }

}

.network{
    height: 650px;
    background-image: url("./../../../img/img_home/map_bg.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    overflow: hidden;
    &__text{
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    &__layer{
        position: absolute;
        width: 100%;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    &__more{
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
    @include mobile{
        height: 400px;
        &__text{
            top: 20px;
        }
        &__more{
            position: absolute;
            bottom: 30px;
        }
        &__layer{
            top: unset;
            bottom: -10%;
        }
    }
}